In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [3]:
orders=pd.read_csv("orders.csv")
users=pd.read_csv("users.csv")

In [4]:
orders.head()

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1
3,89,65,Cancelled,F,2020-08-13 09:58:00+00:00,NaN,NaN,NaN,1
4,102,76,Cancelled,F,2023-01-17 08:17:00+00:00,NaN,NaN,NaN,2

In [5]:
users.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,457,Timothy,Bush,timothybush@example.net,65,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00
1,6578,Elizabeth,Martinez,elizabethmartinez@example.com,34,F,Acre,1705 Nielsen Land,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2023-11-08 18:49:00+00:00
2,36280,Christopher,Mendoza,christophermendoza@example.net,13,M,Acre,125 Turner Isle Apt. 264,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Email,2019-08-24 06:10:00+00:00
3,60193,Jimmy,Conner,jimmyconner@example.com,64,M,Acre,0966 Jose Branch Apt. 008,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2020-02-15 11:26:00+00:00
4,64231,Natasha,Wilson,natashawilson@example.net,25,F,Acre,20798 Phillip Trail Apt. 392,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2020-03-13 06:45:00+00:00

In [6]:
engine=create_engine("sqlite:///my_database.db")

In [7]:
orders.to_sql("orders",engine,if_exists="replace",index=False)

125226

In [8]:
print(pd.read_sql("SELECT * FROM orders", con=engine))

        order_id  user_id     status gender                 created_at  \
0              8        5  Cancelled      F  2022-10-20 10:03:00+00:00
1             60       44  Cancelled      F  2023-01-20 02:12:00+00:00
2             64       46  Cancelled      F  2021-12-06 09:11:00+00:00
3             89       65  Cancelled      F  2020-08-13 09:58:00+00:00
4            102       76  Cancelled      F  2023-01-17 08:17:00+00:00
...          ...      ...        ...    ...                        ...
125221    125196    99972    Shipped      M  2022-06-25 11:56:00+00:00
125222    125199    99975    Shipped      M  2022-07-20 02:19:00+00:00
125223    125208    99983    Shipped      M  2022-03-14 15:06:00+00:00
125224    125210    99983    Shipped      M  2023-03-01 15:06:00+00:00
125225    125224    99999    Shipped      M  2023-12-22 11:29:00+00:00

       returned_at                 shipped_at delivered_at  num_of_item
0             None                       None         None            3
1             None                       None         None            1
2             None                       None         None            1
3             None                       None         None            1
4             None                       None         None            2
...            ...                        ...          ...          ...
125221        None  2022-06-28 08:24:00+00:00         None            1
125222        None  2022-07-22 11:08:00+00:00         None            4
125223        None  2022-03-17 05:15:00+00:00         None            1
125224        None  2023-03-02 10:50:00+00:00         None            2
125225        None  2023-12-24 00:44:00+00:00         None            2

[125226 rows x 9 columns]

In [9]:
users.to_sql("users",engine,if_exists="replace",index=False)

100000

In [10]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125226 entries, 0 to 125225
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      125226 non-null  int64
 1   user_id       125226 non-null  int64
 2   status        125226 non-null  object
 3   gender        125226 non-null  object
 4   created_at    125226 non-null  object
 5   returned_at   12530 non-null   object
 6   shipped_at    81461 non-null   object
 7   delivered_at  43884 non-null   object
 8   num_of_item   125226 non-null  int64
dtypes: int64(3), object(6)
memory usage: 8.6+ MB

In [11]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              100000 non-null  int64
 1   first_name      100000 non-null  object
 2   last_name       100000 non-null  object
 3   email           100000 non-null  object
 4   age             100000 non-null  int64
 5   gender          100000 non-null  object
 6   state           100000 non-null  object
 7   street_address  100000 non-null  object
 8   postal_code     100000 non-null  object
 9   city            99042 non-null   object
 10  country         100000 non-null  object
 11  latitude        100000 non-null  float64
 12  longitude       100000 non-null  float64
 13  traffic_source  100000 non-null  object
 14  created_at      100000 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 11.4+ MB